@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

body,
* {
  box-sizing: content-box;
}

::selection {
  background-color: #fefefe;
  color: #000;
}

:root {
  /* Base Colors */
  --background: #ffffff;
  --foreground: #060606;
  --card: #ffffff;
  --card-foreground: #060606;
  --popover: #ffffff;
  --popover-foreground: #060606;

  /* Primary Colors */
  --primary: #161616;
  --primary-foreground: #fafafa;

  /* Secondary Colors */
  --secondary: #f4f4f4;
  --secondary-foreground: #161616;
  --muted: #f4f4f4;
  --muted-foreground: #727272;

  /* Accent Colors */
  --accent: #f4f4f4;
  --accent-foreground: #161616;

  /* State Colors */
  --destructive: #e6005c;
  --destructive-foreground: #ffffff;

  /* Border & Input Colors */
  --border: #e3e3e3;
  --input: #e3e3e3;
  --ring: #060606;

  /* Chart Colors */
  --chart-1: #fc5c8c;
  --chart-2: #b04de0;
  --chart-3: #4f93fc;
  --chart-4: #fcba03;
  --chart-5: #2fc4bc;
  --chart-6: #333c7e;

  /* UI Elements */
  --caret-color: #000000;
  --progress-bar-bg: #000000;
}

.dark {
  /* Base Colors */
  --background: #000000;
  --foreground: #e1e1e1;
  --card: #2a2a2a;
  --card-foreground: #e1e1e1;
  --popover: #2a2a2a;
  --popover-foreground: #e1e1e1;

  /* Primary Colors */
  --primary: #121212;
  --primary-foreground: #ffffff;

  /* Secondary Colors */
  --secondary: #2a2a2a;
  --secondary-foreground: #e1e1e1;
  --muted: #2a2a2a;
  --muted-foreground: #727272;

  /* Accent Colors */
  --accent: #2a2a2a;
  --accent-foreground: #e1e1e1;

  /* State Colors */
  --destructive: #e6005c;
  --destructive-foreground: #ffffff;

  /* Border & Input Colors */
  --border: #2a2a2a;
  --input: #2a2a2a;
  --ring: #ffffff;

  /* Chart Colors */
  --chart-1: #fc5c8c;
  --chart-2: #b04de0;
  --chart-3: #4f93fc;
  --chart-4: #fcba03;
  --chart-5: #2fc4bc;
  --chart-6: #333c7e;

  /* UI Elements */
  --caret-color: #ffffff;
  --progress-bar-bg: #ffffff;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--muted-foreground);
}
